*{margin:0;padding:0;}

body {
	*width: 100vw;
	overflow-x: hidden;
}

#WorldWrapper {
    width: 100%;
    background-color: #eee;
}

#WorldWrapper > * {
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
}
